/* Font Face */
@font-face{
    src: url(../fonts/Roboto-Medium.ttf);
    font-family:'med';
}
@font-face{
    src: url(../fonts/Roboto-Regular.ttf);
    font-family:'reg';
}
*{
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
}
/* Start Header */
.home{
    background: linear-gradient(rgba(0, 0, 0, 0.5), #13dfbd), url(../img/banner.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.home .navbar{
    padding: 20px 0;
}
.home .navbar .logo{
    width: 150px;
    margin-right: 50px;
}
.home .navbar .menue{
    color: #fff;
    background-color: #019587;
    padding: 10px;
    font-size: 20px;
    border-radius: 3px;
    margin-top: 8px;
    cursor: pointer;
}
.home .navbar .logo .logo-img{
    width: 100%;
    cursor: pointer;
}
.home .navbar ul{
    width: calc(100% - 200px);
}
.home .navbar ul{
    text-align: right;
}
.home .navbar ul li{
    margin: 0 25px 0 0;
    font-size: 16px;
    padding-top: 25px;
    border-bottom: 2px hidden #13dfbd;
    font-family: 'med';
    transition: border .2s;
}
.home .navbar ul li:hover{
    border-bottom: 2px solid #13dfbd;
}
.home .text-div{
    margin-top: 100px;
    color: #fff;
    margin-bottom: 50px;
}
.home .text-div h1{
    font-size: 130px;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-family: 'Kaushan Script';
    font-weight: bold;
    margin-bottom: 10px;
}
.home .text-div p{
    font-family: 'med';
    font-size: 20px;
    font-style: italic;
}
.home .btn-div{
    text-align: center;
}
.home .btn-div a{
    width: 150px;
    color: #fff;
    margin: 0 10px;
    padding: 12px 0;
    border: 1px solid #fff;
    font-family: 'reg';
    position: relative;
    z-index: 1;
}
.home .btn-div a span{
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width .5s;
}
.home .btn-div a:hover{
    color: #13dfbd;
}
.home .btn-div a:hover span{
    width: 101%;
}
@media (max-width: 767px){
    .home .text-div{
        margin: 50px 0;
    }
    .home .text-div h1{
        font-size: 50px;
    }
    .home .text-div p{
        font-style: 17px;
    }
    .home .btn-div .btn{
        display: block;
        margin: 0 auto 20px;
    }
}
/* End header */
/* Start Featrues */
.features .content-div{
    width: 55%;
    margin-right: 10%;
    padding-top: 40px;
}
.features .content-div .single-feat{
    margin: 40px 0;
}
.features .content-div .single-feat .feat-title{
    color: #13dfbd;
    margin: 20px 0;
    font-size: 20px;
    font-family: 'reg';
    letter-spacing: 1px;
}
.features .content-div .single-feat span{
    border: 2px solid #019587;
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border-radius: 5px;
    color: #019587;
    font-size: 25px;
    text-align: center;
    padding: 12px 0;
}
.features .content-div .single-feat p{
    color: #555;
    width: calc(100% - 65px);
    margin: 0;
    font-family: 'reg';
    font-size: 15px;
    padding-top: 8px;
}
.features .image-div{
    width: 35%;
}
.features .image-div img{
    border-radius: 8px;
}
@media (max-width: 767px){
    .features .content-div{
        float: none;
        width: 80%;
        margin: 0 auto 70px;
    }
    .features .content-div .single-feat{
        text-align: center;
    }
    .features .content-div .single-feat span{
        float: none;
        margin-bottom: 15px;
    }
    .features .content-div .single-feat p{
        padding-top: 2px;
        float: none;
        width: 100%;
    }
    .features .image-div{
        float: none;
        margin: auto ;
        width: 60%;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .features .content-div{
        float: none;
        width: 80%;
        margin: 0 auto 70px;
    }
    .features .image-div{
        float: none;
        margin: auto ;
        width: 60%;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .features .content-div{
        padding-top: 0;
    }
}
/* End Features */
/* Start Services */
.services{
    background-color: #ccc;
}
.services .image-div{
    width: 48%;
    position: relative;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
}
.services .image-div img{
    border-radius: 8px;
    height: 100%;
}
.services .image-div:hover .overlay{
    opacity: 1;
    padding-top: 22%;
}
.services .image-div .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5),#019587);
    border-radius: 8px;
    padding: 55px;
    padding-top: 100%;
    color: #fff;
    opacity: 0;
    transition: .5s;
}
.services .image-div .overlay .serv-name{
    font-family: 'med';
    font-family: 22px;
    letter-spacing: 1px;
    text-transform: capitalize;
    position: relative;
}
.services .image-div .overlay .serv-name::after{
    content: '';
    width: 70%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -20px;
    border-radius: 5px;
}
.services .image-div .overlay .serv-desc{
    font-family: 'reg';
    margin-top: 30px;
}
@media (max-width: 570px){
    .services .image-div:hover .overlay{
        opacity: 1;
        padding: 10% 10px 10px;
    }
    .services .image-div .overlay .serv-name::after{
        width: 80%;
    }
    .services .image-div .overlay .serv-desc{
        font-size: 13px;
    }
    .services .image-div .overlay .serv-name{
        font-size: 18px;
    }
}
@media (max-width: 767px){
    .services .image-div{
        width: 75%;
        margin: 0 auto 20px;
        float: none;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .services .image-div{
        width: 75%;
        margin: 0 auto 20px;
        float: none;
    }
}
@media (min-width: 992px){
    .services .image-div:nth-of-type(even){
        margin-right: 2%;
    }
}
/* End Services */
/* Start Testimonial */
.testimonial .person-say{
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
    transition: box-shadow .5s;
    cursor: pointer;
}
.testimonial .person-say:hover{
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
}
.testimonial .person-say .image-div img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.testimonial .person-say .person-name{
    font-family: 'med';
    color: #019587;
}
.testimonial .person-say p{
    color: #555;
    font-family: 'reg';
}
@media (max-width: 767px){
    .testimonial .person-say{
        width: 90%;
        margin: 0 auto 20px;
        float: none;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .testimonial .person-say{
        width: 60%;
        margin: 0 auto 20px;
        float: none;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .testimonial .person-say{
        width: 48%;
        margin: 0 1% 20px;
    }
}
@media (min-width: 1200px){
    .testimonial .person-say{
        width: 32.3333%;
    }
    .testimonial .person-say:nth-child(3){
        margin: 0 1.5%;
    }
}
/* End Testimonial */
/* Start Footer */
.contact{
    background-color: #ccc;
    position: relative;
}
.container .foot-image{
    width: 350px;
    opacity: 0.1;
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contact h3{
    font-family: 'reg';
    font-size: 22px;
}
.contact .left p, .contact .right p{
    font-family: 'reg';
    font-weight: 600;
    font-style: 18px;
    color: #3a3a3a;
}
.contact span{
    color: #019587;
}
.contact .left span{
    margin-right: 10px;
}
.contact .right span{
    margin-left: 10px;
}
.contact .social-link{
    margin-top: 30px;
}
.contact .social-link span{
    font-size: 20px;
    border: 1px solid #019587;
    width: 35px;
    height: 35px;
    padding-top: 7px;
    margin: 0 4px;
    transition: all .5s;
}
.contact .social-link span:hover{
    background-color: #019587;
    color: #fff;
}
.contact .copyright{
    margin-top: 20px;
    font-family: 'reg';
    color: #353535;
}
@media (max-width: 767px){
    .contact .right{
        float: none;
        width: 100%;
    }   
    .contact .left{
        float: none;
        width: 100;
    }
}
@media (min-width: 992px){
    .contact .right{
        width: 40%;
        margin-left: 10%;
    }
    .contact .left{
        width: 40%;
        margin-right: 10%;
    }
}
/* End Footer */
/* Start Frame Work */
.container{
    padding: 0 15px;
    margin: auto;
}
.float-l{
    float: left;
}
.float-r{
    float: right;
}
.clearfix{
    clear: both;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg{
    display: none;
}
.clasic-list{
    list-style-type: none;
    margin: 0;
}
a{
    text-decoration: none;
    color: #fff;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.btn{
    outline: none;
}
.section{
    padding: 70px 0;
}
.sec-title{
    font-family: 'reg';
    color: #009868;
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}
.sec-title::before{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#019587,#fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    transform: rotate(10deg);
    margin: 0 0  15px 0;
}
.gray .sec-title::before{
    background: linear-gradient(#019587,#ccc);

}
.sec-sup{
    font-size: 50px;
    font-family: 'med';
    margin: 10px 0;
}
.inline-block{
    display: inline-block;
}
.text-div{
    margin-bottom: 100px;
}
.resp-image{
    width: 100%;
    height: 100%;
}
/* End Frame Work */
/* ------------------------------------------------------------------------------------------------------------*/
@media (max-width: 767px){
    .container{
        width: 100%;
    }
    .hidden-xs{
        display: none !important;
    }
    .features .text-div{
        margin-bottom: 10px;
    }
    .sec-sup{
        font-size: 40px;
    }
    .visible-xs{
        display: block;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .container{
        width: 750px;
    }
    .hidden-sm{
        display: none !important;
    }
    .features .text-div{
        margin-bottom: 20px;
    }
    .visible-sm{
        display: block;
    }
}
@media (min-width: 992px) and (max-width: 1199px){ 
    .container{
        width: 970px;
    }
    .hidden-md{
        display: none !important;
    }
    .visible-md{
        display: block;
    }
}
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
    .hidden-lg{
        display: none !important;
    }
    .visible-lg{
        display: block;
    }
}